# Example Optuna/ Hydra config for hyperparameter search
# Save as configs/hparams_search/norway_binary_optuna.yaml

# This config assumes you want to search over both training and datamodule params.
# You can add/remove parameters as needed.

defaults:
  - override /hydra/sweeper: optuna

# choose metric which will be optimized by Optuna
# make sure this is the correct name of some metric logged in lightning module!
#optimized_metric: "miou/acc_best"
optimized_metric: "val/acc_best"


# Use the 'optuna' sweeper
hydra:
  sweeper:
    _target_: hydra_plugins.hydra_optuna_sweeper.optuna_sweeper.OptunaSweeper
    sampler:
      _target_: optuna.samplers.TPESampler
      seed: 123
      n_startup_trials: 10 # number of random sampling runs before optimization starts
    direction: maximize
    n_trials: 5
    storage: null
    study_name: norway_binary_optuna
    params:
      # Training params
      trainer.max_epochs: range(10, 21, 5)
      model.optimizer.lr: interval(0.0001, 0.1)
      datamodule.batch_size: choice(32, 64, 128, 256)      

      #Preprocessing params
      datamodule.xy_tiling: choice(2, 3, 4)
      datamodule.voxel: choice(0.1 , 0.2)



